/////////////////////////////////////////////////
// Site colors
$color_primary_green: #58e1c1;
$color_lightgray: lighten(#5a5a5a, 40%);
$color_default: #51ddfc;
$color_success: #63cc82;
$color_error: #e4757a;
$color_warning: #fd7856;
$color_info: #927bc1;

// Grid Colors
$color-grid-12 : #80e8d1;
$color-grid-8: #fd9f85;
$color-grid-7: #ec9fa3;
$color-grid-6: #3fabca;
$color-grid-5: #88d9a0;
$color-grid-4: #7ee6fd;
$color-grid-3: #deb2ee;

/////////////////////////////////////////////
//Lato and Montserrat
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:300&display=swap');


$font_primary: 'Montserrat', sans-serif;
$font_secondary: 'Lato', sans-serif;

//Font Size
$font_size_primary: 1em;
$font_size_larger: 1.4em;
$font_size_smaller: .8em;

//Font colors
$font_color_primary: #5a5a5a;

//Link color
$link_color_primary: #51ddfc;


/////////////////////////////////////////////
//Outline styling
$border_radius_primary: 5px;

/////////////////////////////////////////////
$breakpoint-md: 768px;
$breakpoint-lg: 1100px;
