.nav {
  &__item{
    @extend %nav;

    &:hover{
      background-color: $color_primary_green;
      color: white;
      border-radius: $border_radius_primary;
      transition: .5s;
    }
    @include mq(large){
      margin: 0 .5em;
    }
  }
  @include mq(large) {
    @include flex(row);
    justify-content: center;

  }
}
