* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

.container {
  padding: 1.5em;
  color: $font_color_primary;
  font-family: $font_primary, $font_secondary;
  font-size: $font_size_primary;
  @include mq(large){
    margin: 2em 6em;
    padding: 0;
  }
}

.card{
  padding: .25em;
  line-height: 1.5;
  @include mq(large){
    margin: 1em;
  }
}
